<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Patinem</title>
        <link href="../css/estilo.css" type="text/css" rel="stylesheet">
        <link rel="shortcut icon" href="imagenes/icono.jpg">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;0,500;0,700;1,600&family=Cormorant+Infant:wght@500&family=Kay+Pho+Du:wght@500&display=swap" rel="stylesheet">
    
        <!-- CDN BOOTSTRAP CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" 
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    </head>
    <body>
        <div> 
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <a class="navbar-brand ms-5">
                        <img alt="logo" width="100" height="100" src="imagenes/icono.jpg">
                    </a>
                    <!-- Boton para menu desplegable desde movil -->
                    <button class="navbar-toggler" id="botonMenu" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
                        </svg>
                    </button>
                    <div class="collapse navbar-collapse" id="menuContent">
                        <ul class="navbar-nav navbar-nav-custom ms-auto">
                            <li class="nav-item">
                                {{#if rol}}
                                    <a class="nav-link" href="entrenamientosList">PATINADORES</a>
                                {{else}}
                                    <a class="nav-link" href="entrenamientos">ENTRENAMIENTOS</a>
                                {{/if}}
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="coreografias">COREOGRAFÍAS</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="perfil">PERFIL</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <main >
            <h3 class="display-6 fw-normal font-monospace" style="background-color: #8D92AA; color:#222222;">Disco {{typeDisc}}</h3>
            <div class="container text-center mt-3" >
                {{#if (eq codigo 'SJu')}}
                    <form method="POST" id="formSJu" action="discoLibre">
                        <label for="typeDisc">Disco</label>
                        <input type="text" name="typeDisc" class="form-control text-center w-100" value="{{typeDisc}}" readonly><br>
                        <div class="d-flex">
                                <label for="patinador"></label>
                                <input type="text" name="patinador" class="form-control text-center w-50" value="{{name}}" readonly> 
                                &nbsp;
                                <label for="categoria"></label>
                                <input type="text" name="categoria" class="form-control text-center w-50" value="{{categoria}}" readonly>
                           
                        </div>
                        <label for="code" class="mt-3">Código:</label>
                        <input type="text" name="code" class="form-control text-center w-100" value="{{codigo}}" readonly>

                        <p class="mt-3">Selecciona el salto a realizar:</p>

                        {{#if msg}}
                            <p style="font-family: 'Kay Pho Du'; font-weigth: bold; color: brown" class="mt-3" id="msg">*{{msg}}*</p>
                        {{/if}}

                        <div class="form-check text-start">
                            <input type="radio" name="salto"  value="waltz_jump"/>
                            <label for="waltz_jump" >Waltz_Jump (Base Rating: 0.4)</label> <br>

                            <input type="radio" name="salto"value="salchow" />
                            <label for="salchow" >Salchow (Base Rating: 0.6)</label> <br>

                            <input type="radio" name="salto"  value="toeloop" />
                            <label for="toeloop" >Toeloop (Base Rating: 0.6)</label> <br>

                            <input type="radio" name="salto" value="flip" />
                            <label for="flip">Flip (Base Rating: 0.8)</label> <br>

                            <input type="radio" name="salto" value="lutz" />
                            <label for="lutz">Lutz (Base Rating: 0.9)</label> <br>

                            <input type="radio" name="salto" value="loop_simple" />
                            <label for="loop_simple">Loop (Base Rating: 0.9)</label> <br>

                            <input type="radio" name="salto" value="thoren" />
                            <label for="thoren">Thoren (Base Rating: 0.9)</label> <br>

                            <input type="radio" name="salto" value="axel" />
                            <label for="axel">Axel (Base Rating: 1.3)</label> <br>

                            <input type="radio" name="salto" value="salchow_2" />
                            <label for="salchow_2">2 Salchow (Base Rating: 1.7)</label> <br>

                            <input type="radio" name="salto" value="toeloop_2" />
                            <label for="toeloop_2">2 Toeloop (Base Rating: 1.7)</label> <br>

                            <input type="radio" name="salto" value="flip_2" />
                            <label for="flip_2">2 Flip (Base Rating: 2)</label> <br>

                            <input type="radio" name="salto" value="lutz_2" />
                            <label for="lutz_2">2 Lutz (Base Rating: 2.2)</label> <br>

                            <input type="radio" name="salto" value="loop_2" />
                            <label for="loop_2">2 Loop (Base Rating: 2.2)</label> <br>

                            <input type="radio" name="salto" value="thoren_2" />
                            <label for="thoren_2">2 Thoren (Base Rating: 2.2)</label> <br>

                            <input type="radio" name="salto" value="axel_2" />
                            <label for="axel_2">2 Axel (Base Rating: 6.1)</label> <br>

                            <input type="radio" name="salto" value="salchow_3" />
                            <label for="salchow_3">3 Salchow (Base Rating: 7)</label> <br>
                        </div>
                        <button type="submit" class="btn btn-success mt-2">Agregar Salto</button>
                    </form>
                {{/if}}
                {{#if (eq codigo 'CoJ')}}
                    <form method="POST" id="formCoJ" action="discoLibre">
                        <label for="typeDisc">Disco</label>
                        <input type="text" name="typeDisc" class="form-control text-center w-100" value="{{typeDisc}}" readonly><br>
                        <div class="d-flex">
                                <label for="patinador"></label>
                                <input type="text" name="patinador" class="form-control text-center w-50" value="{{name}}" readonly> 
                                &nbsp;
                                <label for="categoria"></label>
                                <input type="text" name="categoria" class="form-control text-center w-50" value="{{categoria}}" readonly>
                           
                        </div>
                        <label for="code" class="mt-3">Código:</label>
                        <input type="text" name="code" class="form-control text-center w-100" value="{{codigo}}" readonly>

                        {{#if msg}}
                            <p style="font-family: 'Kay Pho Du'; font-weigth: bold; color: brown" class="mt-3" id="msg">*{{msg}}*</p>
                        {{/if}}

                        <p>Selecciona la combinación de saltos a realizar:</p>
                        
                        <div class="form-check text-start">
                            <a role="button" class="btn btn-outline-success" onclick="addElemento('waltz_jump', 'CoJ', 'inputSaltos')">+</a>
                            <label for="waltz_jump">Waltz_Jump (Base Rating: 0.4)</label> <br>

                            <a role="button" class="btn btn-outline-success" onclick="addElemento('salchow', 'CoJ', 'inputSaltos')">+</a>
                            <label for="salchow">Salchow (Base Rating: 0.6)</label> <br>
                            
                            <a role="button" class="btn btn-outline-success" onclick="addElemento('toeloop', 'CoJ', 'inputSaltos')">+</a>
                            <label for="toeloop">Toeloop (Base Rating: 0.6)</label> <br>

                            <a role="button" class="btn btn-outline-success" onclick="addElemento('flip', 'CoJ', 'inputSaltos')">+</a>
                            <label for="flip">Flip (Base Rating: 0.8)</label> <br>

                            <a role="button" class="btn btn-outline-success" onclick="addElemento('lutz', 'CoJ', 'inputSaltos')">+</a>
                            <label for="lutz">Lutz (Base Rating: 0.9)</label> <br>

                            <a role="button" class="btn btn-outline-success" onclick="addElemento('loop_simple', 'CoJ', 'inputSaltos')">+</a>
                            <label for="loop_simple">Loop (Base Rating: 0.9)</label> <br>

                            <a role="button" class="btn btn-outline-success" onclick="addElemento('thoren', 'CoJ', 'inputSaltos')">+</a>
                            <label for="thoren">Thoren (Base Rating: 0.9)</label> <br>

                            <a role="button" class="btn btn-outline-success" onclick="addElemento('axel', 'CoJ', 'inputSaltos')">+</a>
                            <label for="axel">Axel (Base Rating: 1.3)</label> <br>

                            <a role="button" class="btn btn-outline-success" onclick="addElemento('salchow_2', 'CoJ', 'inputSaltos')">+</a>
                            <label for="salchow_2">2 Salchow (Base Rating: 1.7)</label> <br>

                            <a role="button" class="btn btn-outline-success" onclick="addElemento('toeloop_2', 'CoJ', 'inputSaltos')">+</a>
                            <label for="toeloop_2">2 Toeloop (Base Rating: 1.7)</label> <br>

                            <a role="button" class="btn btn-outline-success" onclick="addElemento('flip_2', 'CoJ', 'inputSaltos')">+</a>
                            <label for="flip_2">2 Flip (Base Rating: 2)</label> <br>

                            <a role="button" class="btn btn-outline-success" onclick="addElemento('lutz_2', 'CoJ', 'inputSaltos')">+</a>
                            <label for="lutz_2">2 Lutz (Base Rating: 2.2)</label> <br>

                            <a role="button" class="btn btn-outline-success" onclick="addElemento('loop_2', 'CoJ', 'inputSaltos')">+</a>
                            <label for="loop_2">2 Loop (Base Rating: 2.2)</label> <br>

                            <a role="button" class="btn btn-outline-success" onclick="addElemento('thoren_2', 'CoJ', 'inputSaltos')">+</a>
                            <label for="thoren_2">2 Thoren (Base Rating: 2.2)</label> <br>

                            <a role="button" class="btn btn-outline-success" onclick="addElemento('axel_2', 'CoJ', 'inputSaltos')">+</a>
                            <label for="axel_2">2 Axel (Base Rating: 6.1)</label> <br>

                            <a role="button" class="btn btn-outline-success" onclick="addElemento('salchow_3', 'CoJ', 'inputSaltos')">+</a>
                            <label for="salchow_3">3 Salchow (Base Rating: 7)</label> <br>

                            <a role="button" class="btn btn-outline-success" onclick="addElemento('toeloop_3', 'CoJ', 'inputSaltos')">+</a>
                            <label for="toeloop_3">3 Toeloop (Base Rating: 7)</label> <br>

                            <div class="text-center mt-3">
                                <label> Combo final: </label>
                                <input name="salto" id="inputSaltos" class="form-control border-info-subtle border-2 border-top"></input>
                            </div>
                        </div>
                        <a role="button" class="btn btn-outline-danger mt-2" onclick="clearElementos('inputSaltos')">Borrar combinación</a>
                        <button type="submit" class="btn btn-success mt-2">Agregar Salto</button>
                    </form>
                {{/if}}

                {{#if (eq codigo 'FoSq')}}
                    <form method="POST" id="formFoSq" action="discoLibre">
                        <label for="typeDisc">Disco</label>
                        <input type="text" name="typeDisc" class="form-control text-center w-100" value="{{typeDisc}}" readonly><br>
                        <div class="d-flex">
                                <label for="patinador"></label>
                                <input type="text" name="patinador" class="form-control text-center w-50" value="{{name}}" readonly> 
                                &nbsp;
                                <label for="categoria"></label>
                                <input type="text" name="categoria" class="form-control text-center w-50" value="{{categoria}}" readonly>
                           
                        </div>
                        <label for="code" class="mt-3">Código:</label>
                        <input type="text" name="code" class="form-control text-center w-100" value="{{codigo}}" readonly>


                        <p class="mt-3">Selecciona el nivel de FoSq:</p>

                            <table class="table table-bordered border-dark table-responsive-sm" style="width: fit-content;  margin: auto;">
                                <thead>
                                    <th class="table-info border-dark" colspan="2">Guía de niveles</th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><b>Senior, Junior, Juvenil</b></td>
                                        <td>Máximo nivel 4</td>
                                    </tr>
                                    <tr>
                                        <td><b>Cadete e Infantil</b></td>
                                        <td>Máximo nivel 3</td>
                                    </tr>
                                </tbody>
                            </table>

                        <div class="form-check text-center">
                            <input type="radio" name="fosq" value="level_base" class="mt-4"/>
                            <label for="level_base">Nivel Base (Base Rating: 1.8)</label> <br>

                            <input type="radio" name="fosq" value="level_1" />
                            <label for="level_1">Nivel 1 (Base Rating: 2.3)</label> <br>

                            <input type="radio" name="fosq" value="level_2" />
                            <label for="level_2">Nivel 2 (Base Rating: 3.3)</label> <br>

                            <input type="radio" name="fosq" value="level_3" />
                            <label for="level_3">Nivel 3 (Base Rating: 3.9)</label> <br>

                            <input type="radio" name="fosq" value="level_4" />
                            <label for="level_4">Nivel 4 (Base Rating: 4.4)</label> <br>
                        </div>   

                        <button type="submit" class="btn btn-success mt-2">Agregar Secuencia de Pasos</button>
                    </form>
                {{/if}}

                {{#if (eq codigo 'SSp')}}

                    <form method="POST" id="formSSp" action="discoLibre">
                        <label for="typeDisc">Disco</label>
                        <input type="text" name="typeDisc" class="form-control text-center w-100" value="{{typeDisc}}" readonly><br>
                        <div class="d-flex">
                                <label for="patinador"></label>
                                <input type="text" name="patinador" class="form-control text-center w-50" value="{{name}}" readonly> 
                                &nbsp;
                                <label for="categoria"></label>
                                <input type="text" name="categoria" class="form-control text-center w-50" value="{{categoria}}" readonly>
                           
                        </div>
                        <label for="code" class="mt-3">Código:</label>
                        <input type="text" name="code" id="code" class="form-control text-center w-100" value="{{codigo}}" readonly>

                        <a role="button" class="btn btn-outline-success mt-4 w-50" id="upright" onclick="crearBotones('upright-dif', upright_array, 'SSp')"> UPRIGHT  
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                            <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                            </svg>
                        </a><br>
                        <div id="upright-dif" class="form-check text-start hidden"> </div> <br>

                        <a role="button" class="btn btn-outline-success w-50" id="sit" onclick="crearBotones('sit-dif', sit_array, 'SSp')">SIT
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                            <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                            </svg>
                        </a><br>
                        <div id="sit-dif" class="form-check text-start hidden"> </div> <br>

                        <a role="button" class="btn btn-outline-success w-50" id="camel" onclick="crearBotones('camel-dif', camel_array, 'SSp')">CAMEL BACK
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                            <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                            </svg>
                        </a><br>
                        <div id="camel-dif" class="form-check text-start hidden"> </div> <br>

                        <a role="button" class="btn btn-outline-success w-50" id="camel2" onclick="crearBotones('camel2-dif', camel2_array, 'SSp')">CAMEL FORWARD
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                            <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                            </svg>
                        </a><br>
                        <div id="camel2-dif" class="form-check text-start hidden"> </div> <br>
 
                        <a role="button" class="btn btn-outline-success w-50" id="heel" onclick="crearBotones('heel-dif', heel_array, 'SSp')">HEEL BACK
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                            <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                            </svg>
                        </a><br>
                        <div id="heel-dif" class="form-check text-start hidden"> </div> <br>

                        <a role="button" class="btn btn-outline-success w-50" id="heel2" onclick="crearBotones('heel2-dif', heel_array, 'SSp')">HEEL FORWARD
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                            <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                            </svg>
                        </a><br>
                        <div id="heel2-dif" class="form-check text-start hidden"> </div> <br>

                        <a role="button" class="btn btn-outline-success w-50" id="avanzadas" onclick="crearBotones('avanzadas-dif', avanzadas_array, 'SSp')">POSICIONES AVANZADAS
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                            <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                            </svg>
                        </a><br>
                        <div id="avanzadas-dif" class="form-check text-start hidden"> </div> <br>

                        <div class="text-center mt-3">
                            <label> Combo final: </label>
                            <input name="spin" id="inputSpins" class="form-control border-info-subtle border-2 border-top"></input>
                        </div>
                        <a role="button" class="btn btn-outline-danger mt-2" onclick="clearElementos('inputSpins')">Borrar combinación</a>
                        
                        <button type="submit" class="btn btn-success mt-2">Agregar Pirueta</button>
                    </form>
                {{/if}}

                {{#if (eq codigo 'CSp')}}

                    <form method="POST" id="formCSp" action="discoLibre">
                        <label for="typeDisc">Disco</label>
                        <input type="text" name="typeDisc" class="form-control text-center w-100" value="{{typeDisc}}" readonly><br>
                        <div class="d-flex">
                                <label for="patinador"></label>
                                <input type="text" name="patinador" class="form-control text-center w-50" value="{{name}}" readonly> 
                                &nbsp;
                                <label for="categoria"></label>
                                <input type="text" name="categoria" class="form-control text-center w-50" value="{{categoria}}" readonly>
                           
                        </div>
                        <label for="code" class="mt-3">Código:</label>
                        <input type="text" name="code" id="code" class="form-control text-center w-100" value="{{codigo}}" readonly>

                        <a role="button" class="btn btn-outline-success mt-4 w-50" id="upright" onclick="crearBotones('upright-dif', upright_array, 'CSp')"> UPRIGHT  
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                            <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                            </svg>
                        </a><br>
                        <div id="upright-dif" class="form-check text-start hidden"> </div> <br>

                        <a role="button" class="btn btn-outline-success w-50" id="sit" onclick="crearBotones('sit-dif', sit_array, 'CSp')">SIT
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                            <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                            </svg>
                        </a><br>
                        <div id="sit-dif" class="form-check text-start hidden"> </div> <br>

                        <a role="button" class="btn btn-outline-success w-50" id="camel" onclick="crearBotones('camel-dif', camel_array, 'CSp')">CAMEL BACK
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                            <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                            </svg>
                        </a><br>
                        <div id="camel-dif" class="form-check text-start hidden"> </div> <br>

                        <a role="button" class="btn btn-outline-success w-50" id="camel2" onclick="crearBotones('camel2-dif', camel2_array, 'CSp')">CAMEL FORWARD
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                            <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                            </svg>
                        </a><br>
                        <div id="camel2-dif" class="form-check text-start hidden"> </div> <br>
 
                        <a role="button" class="btn btn-outline-success w-50" id="heel" onclick="crearBotones('heel-dif', heel_array, 'CSp')">HEEL BACK
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                            <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                            </svg>
                        </a><br>
                        <div id="heel-dif" class="form-check text-start hidden"> </div> <br>

                        <a role="button" class="btn btn-outline-success w-50" id="heel2" onclick="crearBotones('heel2-dif', heel2_array, 'CSp')">HEEL FORWARD
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                            <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                            </svg>
                        </a><br>
                        <div id="heel2-dif" class="form-check text-start hidden"> </div> <br>

                        <a role="button" class="btn btn-outline-success w-50" id="avanzadas" onclick="crearBotones('avanzadas-dif', avanzadas_array, 'CSp')">POSICIONES AVANZADAS
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                            <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                            </svg>
                        </a><br>
                        <div id="avanzadas-dif" class="form-check text-start hidden"> </div> <br>

                        <div class="text-center mt-3">
                            <label> Combo final: </label>
                            <input name="spin" id="inputSpins" class="form-control border-info-subtle border-2 border-top"></input>
                        </div>
                        <a role="button" class="btn btn-outline-danger mt-2" onclick="clearElementos('inputSpins')">Borrar combinación</a>

                        <button type="submit" class="btn btn-success mt-2">Agregar Pirueta</button>
                    </form>
                {{/if}}
            </div>

        </main>
        <footer class="text-center mt-5 footer-copyright">
            <div class="text-center p-3" style="background-color: #222222; color:#eeeeee">
                © 2024 Copyright: Virginia García
            </div>
        </footer>
        <script>
            // Seleccionamos el botón y el menú
            const navbarToggler = document.getElementById('botonMenu');
            const navbarMenu = document.getElementById('menuContent');

            // Agregamos un evento al botón para mostrar el menú cuando se haga clic
            if(navbarToggler){
                navbarToggler.addEventListener('click', () => {
                navbarMenu.classList.toggle('show');
            });
            }
        </script>

        <script>
            let comb_elemento = [];
            let max_elemento = 5;

            function addElemento(elemento, codigo, divResum){
                if('{{typeDisc}}' == 'Corto'){
                    max_elemento = 4;
                }

                if((codigo == 'CoJ' && comb_elemento.length < max_elemento)|| (codigo == 'CSp' && comb_elemento.length < max_elemento))
                {
                    comb_elemento.push(elemento);
                }
                else if(comb_elemento.length < 1){
                    comb_elemento.push(elemento);
                }
                else{
                    alert("No se puede agregar más elementos");
                }
                
                const input = document.getElementById(divResum);
                input.value = comb_elemento;
            }

            function clearElementos(divResum){
                // Vacia array
                comb_elemento = [];

                // Vacía el input
                const input = document.getElementById(divResum);
                input.value = comb_elemento;
                
            }
        </script>

        <script>
            const upright_array = ['upright_spin, BASE: 0.5', 'upright_biellman, 2+80%', 'upright_split, 1+50%', 'upright_torso, 1+40%', 'upright_layback, 1+20%', 'upright_forward, 1', 'upright_heel, 50%'];   
            const sit_array = ['sit_spin, BASE: 0.8', 'sit_sideways, 60%', 'sit_twist, 60%', 'sit_forward, 40%', 'sit_behind, 20%'];   
            const camel_array = ['camel_back_spin, BASE: 1.0', 'camel_back_forward, 40%', 'camel_back_sideways, 60%', 'camel_back_layover, 20%']; 
            const camel2_array = ['camel_forw_spin, BASE: 1.2', 'camel_forw_forward, 40%', 'camel_forw_sideways, 60%', 'camel_forw_layover, 20%'] 
            const heel_array = ['heel_back_spin, BASE: 2', 'heel_back_forward, 40%', 'heel_back_biellman_heel, 3+40%']; 
            const heel2_array = ['heel_forw_spin, BASE: 2.5', 'heel_forw_forward, 40%', 'heel_forw_biellman_heel, 3+40%'];
            const avanzadas_array = ['inverted_spin, BASE: 2.8', 'inverted_bryant, 25%', 'broken_spin, BASE: 1.8', 'broken_forward, 40%', 'broken_sideways, 60%']

            // FUNCION PARA CREAR LOS INPUTS
            function crearBotones(idContainer, arrayData, codigo){
                const container = document.getElementById(idContainer);
                container.innerHTML = '';

                for(let i = 0; i < arrayData.length; i++){
                    let a = document.createElement('a');
                        a.role = 'button';
                        a.className = 'btn btn-outline-success';
                        a.onclick = () => addElemento(arrayData[i].split(',')[0], codigo, 'inputSpins');
                        a.innerHTML = '+';
                    container.appendChild(a);

                    const label = document.createElement('label');
                        label.innerHTML = arrayData[i];
                    container.appendChild(label);

                    container.appendChild(document.createElement('br'));
                }                    
            }

            // FUNCION PARA ESCONDER LOS INPUTS
            function ocultarDiv(buttonId, divId) {
                const button = document.getElementById(buttonId);
                const div = document.getElementById(divId);
                let isVisible = false;

                button.addEventListener('click', () => {
                    if (isVisible) {
                        div.classList.add('hidden');
                        isVisible = false;
                        
                    } else {
                        div.classList.remove('hidden');
                        isVisible = true;
                    }
                });
            }

            ocultarDiv('upright', 'upright-dif');
            ocultarDiv('sit', 'sit-dif');
            ocultarDiv('camel', 'camel-dif');
            ocultarDiv('camel2', 'camel2-dif');
            ocultarDiv('heel', 'heel-dif');
            ocultarDiv('heel2', 'heel2-dif');
            ocultarDiv('avanzadas', 'avanzadas-dif');
        </script>
    </body>
</html>