<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Skating Tracker</title>
        <link href="../css/estilo.css" type="text/css" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;0,500;0,700;1,600&family=Cormorant+Infant:wght@500&family=Kay+Pho+Du:wght@500&display=swap" rel="stylesheet">
    
        <!-- CDN BOOTSTRAP CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" 
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <!-- SCRIPT PARA DESCARGAR PDF -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.debug.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.3.3/html2canvas.min.js"></script>
        
    </head>
    <body>
        <div> 
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <a class="navbar-brand ms-5">
                        <img alt="logo" width="100" height="100" src="imagenes/icono.jpg">
                    </a>
                    <div class="collapse navbar-collapse">
                        <ul class="navbar-nav navbar-nav-custom ms-auto">
                            <li class="nav-item">
                                {{#if rol}}
                                    <a class="nav-link" href="entrenamientosList">PATINADORES</a>
                                {{else}}
                                    <a class="nav-link" href="entrenamientos">ENTRENAMIENTOS</a>
                                {{/if}}
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="coreografias">COREOGRAFÍAS</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="perfil">PERFIL</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <main >
            <h3 class="display-6 fw-normal font-monospace" style="background-color: #f3d886; color:#222222;">Free Dance</h3>
            <div class="container text-center mt-3" >
                <form method="GET" action="" id="formCoreografíaDF">
                    {{#if rol }}
                        <label for="typeDisc">Disco</label>
                        <input type="text" name="typeDisc" value="{{typeDisc}}" readonly><br>

                        <select class="mt-3" name="patinador_select" id="patinador_select" onchange="updatePatinador()">
                            {{#each listPat}}
                                <option value="{{Nombre}}" data-categoria="{{Categoria}}">{{Nombre}} ({{Categoria}})</option>
                            {{/each}}
                        </select> <br>

                        <label for="patinador" class="mt-3">Patinador/a:</label> <br>
                        <input type="text" name="patinador" class="form-control text-center mt-1" id="patinadorInput" value="" readonly>
                        <label for="categoria">Categoria:</label> <br>
                        <input type="text" name="categoria" class="form-control text-center mt-1" id="categoriaInput" value="" readonly>
                    {{else}}
                        <label for="typeDisc">Disco</label>
                        <input type="text" name="typeDisc" value="{{typeDisc}}" readonly><br>
                        <label for="patinador">Patinador/a:</label> <br>
                        <input type="text" name="patinador" class="form-control text-center mt-1" value="{{name}}" readonly><br>
                        <label for="categoria">Categoria:</label> <br>
                        <input type="text" name="categoria" class="form-control text-center mt-1" value="{{categoria}}" readonly><br>
                    {{/if}}
                    {{#if msg}}
                        <p style="font-family: 'Kay Pho Du'; font-weigth: bold; color: rgb(42, 165, 63)" id="msg">*{{msg}}*</p>
                    {{/if}}
                    <table class="table table-striped table-hover table-responsive-sm"> 
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Code</th>
                                <th>Elements</th>
                                <th>BASE</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each rowsDanza}}
                            <tr>
                                <td>{{inc @index}}
                                <td>{{code}}</td>
                                <td>{{elemento}}</td>
                                <td>{{base}}</td>
                            </tr>
                            {{/each}}
                            <tr>
                                <td><b>Total:</b></td>
                                <td>{{sumaBASE}}</td>
                            </tr>
                            <tr>
                                <td>
                                    {{#if (or (eq categoria 'Infantil') (eq categoria 'Alevín'))}}
                                        <select name="codigo" id="select-1">
                                        <option value="DSSq">DSSq</option>
                                        <option value="FoSq">FoSq</option>
                                        <option value="Cl">Cl</option>
                                        <option value="Tr">Tr</option>
                                        <option value="ChStSq">ChStSq</option>
                                    </select>
                                    {{/if}}

                                    {{#if (eq categoria 'Benjamin')}}
                                        <select name="codigo" id="select-1">
                                            <option value="ASq">ASq</option>
                                            <option value="Tr">Tr</option>
                                            <option value="ChStSq">ChStSq</option>
                                        </select>
                                    {{/if}}

                                    {{#if (or (eq categoria 'Junior') (eq categoria 'Senior') (eq categoria 'Cadete') (eq categoria 'Juvenil'))}}
                                        <select name="codigo" id="select-1">
                                                <option value="DSSq">DSSq</option>
                                                <option value="FoSq">FoSq</option>
                                                <option value="ASq">ASq</option>
                                                <option value="Cl">Cl</option>
                                                <option value="Tr">Tr</option>
                                                <option value="ChStSq">ChStSq</option>
                                        </select>
                                    {{/if}}
                                </td>
                                <td id="elemento-1">
                                    <a role="button" class="btn btn-outline-success" id="addToProgramm" onclick="addElements(document.getElementById('select-1').value)">Añadir Elementos</a>
                                    
                                </td>
                                <td>
                                    <a role="button" class="btn btn-success" id="downloadProgramm">Descargar programa</a>
                                </td>
                                <td>
                                    <a role="button" class="btn btn-success" id="reset" href="/discoDanzaFree?name={{name}}&categoria={{categoria}}&typeDisc={{typeDisc}}">Resetear programa</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </main>
        <footer class="text-center mt-5 footer-copyright">
            <div class="text-center p-3" style="background-color: #222222; color:#eeeeee">
                © 2024 Copyright: Virginia García
            </div>
        </footer>
        <script>
            function updatePatinador() {
                const select = document.getElementById('patinador_select');
                const patinador = select.value;

                const optionElement = select.options[select.selectedIndex];
                const categoria = optionElement.getAttribute('data-categoria');

                const patinador_input = document.getElementById('patinadorInput');
                const categoria_input = document.getElementById('categoriaInput');

                // Muestra la información del patinador en los campos correspondientes
                    patinador_input.value = patinador;
                    categoria_input.value = categoria;
            }

            function addElements(selectedValue) {
                const select = document.getElementById('patinador_select');
                if(select){
                    const patinador = document.getElementById('patinadorInput').value;
                    const categoria = document.getElementById('categoriaInput').value;

                    window.location.href = `/addElementDanza?codigo=${selectedValue}&name=${patinador}&categoria=${categoria}&typeDisc={{typeDisc}}`;
                }
                else{
                    window.location.href = `/addElementDanza?codigo=${selectedValue}&name={{name}}&categoria={{categoria}}&typeDisc={{typeDisc}}`;
                } 
            }
        </script>
        <script>
            const downloadBtn = document.getElementById('downloadProgramm');
            const main = document.querySelector('main');

            function checkLength(jsonLength){
                if (jsonLength < 5) {
                    alert('Debes introducir al menos 5 elementos para descargar el programa!');
                }
                else{
                    downloadPDF();      
                }
            }

            downloadBtn.addEventListener('click', () => {
                const jsonLength = {{rowsDanza.length}};
                checkLength(jsonLength);
            });

            function downloadPDF() {
                const select = document.getElementById('select-1');
                const AddBtn = document.getElementById('addToProgramm'); 
                const DownloadBtn = document.getElementById('downloadProgramm'); 
                const msgElement = document.getElementById('msg'); 
                const resetBtn = document.getElementById('reset');

                // Escondemos los botones y el mensaje
                select.style.display = 'none';
                AddBtn.style.display = 'none';
                DownloadBtn.style.display = 'none';
                resetBtn.style.display = 'none';
                if(msgElement){
                    msgElement.style.display = 'none';
                }
                
                const pdf = new jsPDF('p', 'pt', 'a4');
                const pdfWidth = pdf.internal.pageSize.getWidth();
                const pdfHeight = pdf.internal.pageSize.getHeight();
                const scale = 1;
                const scaleFactor = pdfWidth / main.offsetWidth;
                const pdfContent = html2canvas(main, { scale }).then(canvas => {
                    const imgData = canvas.toDataURL('image/jpeg', 1.0);
                    pdf.addImage(imgData, 'JPEG', 0, 0, pdfWidth, pdfHeight * scaleFactor);
                    pdf.save('programa_Modalidad_Danza_Free_Dance.pdf');
                });

                // Volvemos a enseñar los botones
                select.style.display = 'inline-block';
                AddBtn.style.display = 'inline-block';
                DownloadBtn.style.display = 'inline-block';
                resetBtn.style.display = 'inline-block';
                if(msgElement){
                    msgElement.style.display = 'inline-block';
                }
            }
        </script>
    </body>
</html>